* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Urbanist-VariableFont_wght";
  src: url(../fonts/Urbanist-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Urbanist-Italic-VariableFont_wght";
  src: url(../fonts/Urbanist-Italic-VariableFont_wght.ttf);
}

body {
  font-family: "Urbanist-VariableFont_wght", "sans-serif";
  font-size: 16px;
  min-width: 80vw;
}

h1 {
  font-size: 8vw;
  font-weight: 900;
}

h2 {
  font-size: 40px;
  font-weight: 900;
}

h3 {
  font-size: 20px;
  font-weight: bold;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
}

/* * ---------------------- Header ---------------------- */

header {
  padding: 20px 20px;
}

/* ---------- Navigation --------- */

.div_navbar {
  border: 1px solid black;
  border-radius: 45px;
}

.div_navbar nav {
  display: none;
}

.div_navbar a img {
  width: 52px;
  height: 46px;
}

.burger_wrapper {
  padding: 6px;
}

.burger {
  background-color: black;
  height: 2px;
  width: 24px;
  margin: 6px;
  border-radius: 2px;
}

.div_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
}

/* ---------- Section Hero --------- */

.section_hero {
  background-image: url("../img/background_header1.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw;
  margin-bottom: 5vh;
}

.div_heroStart {
  height: 30vh;
  margin: 1rem 1rem 0 1rem;
  position: relative;
}

.div_heroStart h1 {
  position: absolute;
  line-height: 8vw;
  left: 12vw;
  top: 10vh;
}

/* ---------- Hero Buttons --------- */

.hero_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_buttons button {
  border: 1px solid black;
  box-shadow: -2px -2px 0px 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 30px;
  padding: 16px 20px;
  margin-bottom: 20px;
  width: 80vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 700;
}

.link_wo,
.link_wann {
  background-color: white;
}

.link_suchen {
  background-color: #a9cba6;
  color: white;
}

.svg_white {
  filter: invert(100%);
}

/* * ---------------------- Section USP ---------------------- */

.div_einleitung {
  text-align: center;
  padding: 10px 30px;
  margin-bottom: 5vh;
}

.div_einleitung h2 {
  margin-bottom: 1.5rem;
}

.section_usp,
.section_auswahl {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section_usp {
  background-image: url(../img/background_bulbgreen.svg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5vh;
}

.div_uspBoxen,
.div_angeboteBoxen {
  margin-bottom: 5vh;
}

.uspbox {
  text-align: center;
  line-height: 1.5rem;
  background-color: white;
  border: 1px solid black;
  border-radius: 16px;
  box-shadow: -2px -2px 0px 2px rgba(0, 0, 0, 0.3) inset;
  width: 45vw;
  padding: 20px;
  margin-bottom: 1.25rem;
}

.uspbox a {
  color: black;
}

.uspbox a img {
  width: 100%;
}

.box_km a img {
  width: 80%;
}

/*? ---------- Buttons --------- */

.btnstyle {
  border: 1px solid black;
  box-shadow: -2px -2px 0px 2px rgba(0, 0, 0, 0.3) inset;
  border-radius: 30px;
  padding: 16px 32px;
  width: 70vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: 700;
}

.button_green {
  margin-bottom: 20px;
  background-color: #a9cba6;
  color: white;
}

.button_white {
  margin-bottom: 10px;
  background-color: white;
  color: black;
}

.link_text {
  flex-grow: 1;
  text-align: center;
}

/* * ---------------------- Section Auswahl ---------------------- */

.section_auswahl {
  background-image: url(../img/background_bulbblue.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100vw;
}

.angeboteBox {
  line-height: 1.5rem;
  background-color: #f0cea0;
  border: 1px solid black;
  border-radius: 50px;
  box-shadow: -2px -2px 0px 2px rgba(0, 0, 0, 0.3) inset;
  width: 85vw;
  margin-bottom: 1.25rem;
}

.angeboteBilder {
  background-color: white;
  border-radius: 50px 50px 0 0;
  border-bottom: 1px solid black;
  display: flex;
  margin-bottom: 1.25rem;
}

.angeboteBilder img {
  width: 100%;
}

.angebotePreise,
.angeboteBox ul {
  padding: 5px 34px;
}

.angebotePreise {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.angebotePreise h2 {
  margin-bottom: 1rem;
}

.angebotePreise p {
  font-weight: 700;
  font-size: 40px;
}

.angebotePreise p::before {
  content: "ab ";
  font-size: 20px;
}

.angeboteBox ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.angeboteLinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* * ---------------------- Footer ---------------------- */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-top: 2px solid black;
}

.footer_logo {
  padding: 18px;
}

footer a {
  color: black;
}

footer li {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 12px;
}

.div_socials {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 24px;
}

.div_footerinfo {
  padding: 10px;
  margin-bottom: 1.25rem;
  font-size: 10px;
}

.div_footerinfo a:nth-child(-n + 2)::after {
  content: " |";
}
